*{
    background: #f2e0cc;
}
h1{
    color:rgb(153, 87, 7);
    background-color: rgb(245, 198, 90);
   text-align: center;
}
h2{
    color: rgb(154, 95, 18);
    background-color: #f6bc79;
}
